[submodule "vim/vim/bundle/vim-pathogen"]
	path = vim/vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/vim/bundle/vim-fugitive"]
	path = vim/vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/vim/bundle/delmitmate"]
	path = vim/vim/bundle/delmitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/vim/bundle/ack.vim"]
	path = vim/vim/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "vim/vim/bundle/pyflakes-vim"]
	path = vim/vim/bundle/pyflakes-vim
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule "vim/vim/bundle/json-vim"]
	path = vim/vim/bundle/json-vim
	url = git://github.com/vim-scripts/JSON.vim.git
[submodule "vim/vim/bundle/FuzzyFinder"]
	path = vim/vim/bundle/FuzzyFinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
[submodule "vim/vim/bundle/L9"]
	path = vim/vim/bundle/L9
	url = git://github.com/vim-scripts/L9.git
